<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{title}}</title>
</head>
<body>
<form action="/add_vip/" method="get" class="well form-inline">
  <input type="text" name="vip" class="input-small" placeholder="VIP 地址:端口">
  <input type="text" name="scheduler" class="input-small" placeholder="调度算法" maxlength="5" size="5">
  <button type="submit" class="btn">添加</button>
</form>
</body>
</html>