<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{title}}</title>
</head>
<body>
<form action="/add_node/" method="get" class="well form-inline">
  <input type="text" name="vip" class="input-small" placeholder="VIP 地址:端口">
  <input type="text" name="node" class="input-small" placeholder="后端节点地址">
  <select name="select" id="select">
  <option>DR</option>
  <option>TUN</option>
  <option>NAT</option>
  </select>
  <input type="text" name="weight" class="input-small" placeholder="权重值" maxlength="2" size="2">
  <button type="submit" class="btn">添加</button>
</form>
</body>
</html>